<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container-chat">
		<div class="chat">
			<div class="chat-header">
				<div class="profile">
					<div class="left">
						<img src="/img/chat/arrow.png" class="arrow">
						<img src="/img/chat/pp.jpg" class="pp">
						<h2>Bian Lorenzon</h2>
						<span>en línea</span>
					</div>
					<div class="right">
						<img src="/img/chat/video.png" class="icon">
						<img src="/img/chat/phone.png" class="icon">
						<img src="/img/chat/more.png" class="icon">
					</div>
				</div>
			</div>
			<div class="chat-box">
				<div class="chat-r">
					<div class="sp"></div>
					<div class="mess mess-r">
                        <audio controls>
                            <source src="/audios/mio.mp3" type="audio/mpeg">
                        </audio>
						<div class="check">
							<span>03:39 AM</span>
							<img src="/img/chat/check-2.png">
						</div>
					</div>
				</div>
				<div class="chat-l">
					<div class="mess">
                        <audio controls class="aud-izq">
                            <source src="/audios/bian.mp3" type="audio/mpeg">
                        </audio>
						<div class="check">
							<span>04:01  AM</span>
						</div>
					</div>
					<div class="sp"></div>
				</div>
                <div class="chat-footer">
                    <img src="/img/chat/emo.png" class="emo">
                    <textarea placeholder="Type a message"></textarea>
                    <div class="icons">
                        <img src="/img/chat/attach file.png">
                        <img src="/img/chat/camera.png">
                    </div>
                    <img src="/img/chat/mic.png" class="mic">
                </div>
            </div>
        </div>
</body>
</html>