<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body>
    <main>
        <div class="container-heart">
            <h1>Feliz día bombón</h1>
            <i class="fa-solid fa-heart" id="cora"></i>
        </div>
        <h2> Te dejo un dumpcito de #momentosvividos </h2>
        <section class="audios-wpp">
            <article>
                <h3>Me debias unas papas, rata.</h3>
                <div class="container">
                    <div class="conversacion">
                    <%- include('./partials/chat')%>
                </div>
            </article>
            <div>
        </section>
        <section>
            <article class="ciudades">
                <h3>Pinamar</h3>
                <div class="slider-wrapper">
                    <div class="slider-nav">
                        <a href="#pin-1"></a>
                        <a href="#pin-2"></a>
                    </div>
                    <div class="slider">
                        <img id="pin-1" src="/img/pin/papas.JPG" alt="papas">
                        <img id="pin-2" src="/img/pin/niniera.jpg" alt="niniera">
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article class="ciudades">
                <h3>Mar del plata</h3>
                <div class="slider-wrapper">
                    <div class="slider-nav">
                        <a href="#mdq-1"></a>
                        <a href="#mdq-2"></a>
                        <a href="#mdq-3"></a>
                    </div>
                    <div class="slider">
                        <img id="mdq-1" src="/img/mdq/beso1.JPG" alt="beso">
                        <img id="mdq-2" src="/img/mdq/espejo.jpg" alt="foto en el espejo">
                        <img id="mdq-3" src="/img/mdq/selfie.jpg" alt="selfie">
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article class="ciudades">
                <h3>Madrid</h3>
                <div class="slider-wrapper">
                    <div class="slider-nav">
                        <a href="#mad-1"></a>
                        <a href="#mad-2"></a>
                        <a href="#mad-3"></a>
                        <a href="#mad-4"></a>
                        <a href="#mad-5"></a>
                    </div>
                    <div class="slider">
                        <img id="mad-1" src="/img/mad/bernabeu.jpg" alt="foto en el bernabeu">
                        <img id="mad-2" src="/img/mad/sanguchito.jpg" alt="comiendo sanguchito">
                        <img id="mad-3" src="/img/mad/llegada.jpg" alt="recien llegado">
                        <img id="mad-4" src="/img/mad/xd.jpg" alt="recien pelotudeando">
                        <img id="mad-5" src="/img/mad/boca.jpg" alt="esperando para ir al bernabeu">
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article class="ciudades">
                <h3>Valencia</h3>
                <div class="slider-wrapper">
                    <div class="slider-nav">
                        <a href="#val-1"></a>
                        <a href="#val-2"></a>
                        <a href="#val-3"></a>
                        <a href="#val-4"></a>
                        <a href="#val-5"></a>
                        <a href="#val-6"></a>
                        <a href="#val-7"></a>
                    </div>
                    <div class="slider">
                        <img id="val-1" src="/img/val/caminando.JPG" alt="caminando por el acuario">
                        <img id="val-2" src="/img/val/mirandom.JPG" alt="En la playa mirandonos">
                        <img id="val-3" src="/img/val/selfie-beso.jpg" alt="Selfie dando un beso">
                        <img id="val-4" src="/img/val/artes.jpg" alt="En la ciudad de las artes">
                        <img id="val-5" src="/img/val/playa-mate.JPG" alt="Tomando unos mateicos">
                        <img id="val-6" src="/img/val/selfie-e.jpg" alt="Selfie en el estadio del Valencia">
                        <img id="val-7" src="/img/val/selfie-p.jpg" alt="Selfie en la yapla">
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article class="ciudades">
                <h3>Alicante</h3>
                <div class="slider-wrapper">
                    <div class="slider-nav">
                        <a href="#ali-1"></a>
                        <a href="#ali-2"></a>
                        <a href="#ali-3"></a>
                        <a href="#ali-4"></a>
                        <a href="#ali-5"></a>
                        <a href="#ali-6"></a>
                        <a href="#ali-7"></a>
                    </div>
                    <div class="slider">
                        <img id="ali-1" src="/img/ali/altea.jpg" alt="caminando por el acuario">
                        <img id="ali-2" src="/img/ali/sanguchito2.JPG" alt="En la playa mirandonos">
                        <img id="ali-3" src="/img/ali/selfie-a.jpg" alt="Selfie dando un beso">
                        <img id="ali-4" src="/img/ali/altea.jpg" alt="En la ciudad de las artes">
                        <img id="ali-5" src="/img/ali/selfie-playera.JPG" alt="Tomando unos mateicos">
                        <img id="ali-6" src="/img/ali/selfie-t.jpg" alt="Selfie en el estadio del Valencia">
                        <img id="ali-7" src="/img/ali/cala.jpg" alt="Selfie en la yapla">
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article class="ciudades">
                <h3>Demais fotos</h3>
                <div class="slider-wrapper">
                    <div class="slider-nav">
                        <a href="#ba-1"></a>
                        <a href="#ba-2"></a>
                        <a href="#ba-3"></a>
                        <a href="#ba-4"></a>
                        <a href="#ba-5"></a>
                        <a href="#ba-6"></a>
                        <a href="#ba-7"></a>
                    </div>
                    <div class="slider">
                        <img id="ba-1" src="/img/bsas/casorio.JPG" alt="Casorio">
                        <img id="ba-2" src="/img/bsas/bailanding.JPG" alt="Bailando">
                        <img id="ba-3" src="/img/bsas/cata.jpg" alt="Selfie con cata">
                        <img id="ba-4" src="/img/bsas/compu.jpg" alt="Foto en la computadora">
                        <img id="ba-5" src="/img/bsas/chasco.JPG" alt="Selfie en chasco">
                        <img id="ba-6" src="/img/bsas/chano.jpg" alt="Selfie viendo a chano">
                        <img id="ba-7" src="/img/bsas/15.jpg" alt="Foto en un 15">
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <h2>Te amo muchísimo perri</h2>
                <p>Gracias por ser la mejor del mundo</p>
                <h1>💘</h1>
            </article>
        </section>
        <script src="/js/corazones.js"></script>

    </main>
</body>
</html>